extends layout
block Hii
block content
    .site-container
      .site-inner
        .content-sidebar-wrap

          main.content
            article.entry
              header.entry-header
               h1.entry-title FOODS
               .entry-content
                  p
                   table
                    tbody
                     tr
                      td
                       img(src='images/fav/domino.png', width='135', height='135')
                      td
                       img(src='images/fav/texas.png', width='135', height='135')
                      td
                       img(src='images/fav/ryu.jpg', width='135', height='135')
                     tr
                      td
                       strong #{food1}
                      td
                       strong #{food2}
                      td
                       strong #{food3}
                   hr
               h1.entry-title MUSIC
               .entry-content
                  p
                   table
                    tbody
                     tr
                      td
                       img(src='images/fav/akb48.png', width='135', height='135')
                      td
                       img(src='images/fav/saisai.jpg', width='135', height='135')
                      td
                       img(src='images/fav/gh.png', width='135', height='135')
                     tr
                      td
                       strong #{music1}
                      td
                       strong #{music2}
                      td
                       strong #{music3}
                   hr

          aside.sidebar
            section.widget
              .widget-wrap
                h4.widget-title HELLO!
                a(href='/about', title='Nattapat Khowphong')
                  img.aligncenter(width='120', height='120', style='max-width: 100%;', src='images/profile.png')
                .widget_sp_image-description
                  h1(text-align='center')
                  p
                   b
                    center #{name}
                    center #{sid}
                    center 
                     a(href='/about') About me
            section#twitter_timeline-2.widget.widget_twitter_timeline
              .widget-wrap
                My Tweets
              blockquote.twitter-tweet(data-lang='en')
                p(lang='th', dir='ltr') NodeJS อะไรวะเนี่ยยยย
                | — เอิ่มม..เอ่ออ.อา!! (@jameduck) 
                a(href='https://twitter.com/jameduck/status/729758092720668672') May 9, 2016
              script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')