doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='../images/fav.ico')
  body.header-image
  block Hii
  .HiiBody
  .site-header
        .wrap
          .title-area
            h1.site-title
              a(href='/index')
            h2  
  .navigation-container
        nav.nav-primary
          .wrap
            ul.genesis-nav-menu
              li.menu-item
                a(href='/index') HOME
              li.menu-item
                a(href='/about') About ME

        nav.nav-secondary
          .wrap
            ul.genesis-nav-menu
              li.menu-item
                a(href='/favourite') FAVOURITES
              li.menu-item
                a(href='/education') MY EDUCATIONS
block content
footer
  .site-footer.wrap
    p
    | © Copyright 2016 
    | Footer และ Footer
    div(style='display:none')